<header>
    <div><h2>AB</h2></div>
    <div class="navbar">
      <ul> 
       <li><a routerLink="home">Home</a></li>
       <li><a routerLink="staff">Staff</a></li>
       <li><a routerLink="about">About</a></li>
       <li><a routerLink="login-form">Login</a></li>
      </ul>
    </div>
</header>
<main>
    <aside>
        <ul> 
            <li><a routerLink="#">Intro</a></li>
            <li><a routerLink="#">History</a></li>
            <li><a routerLink="#">Careers</a></li>
            <li><a routerLink="#">Partners</a></li>
            <li><a routerLink="#">Intro</a></li>
            <li><a routerLink="#">History</a></li>
            <li><a routerLink="#">Careers</a></li>
            <li><a routerLink="#">Partners</a></li>
            <li><a routerLink="#">Intro</a></li>
            <li><a routerLink="#">History</a></li>
            <li><a routerLink="#">Careers</a></li>
            <li><a routerLink="#">Partners</a></li>
            <li><a routerLink="#">Intro</a></li>
            <li><a routerLink="#">History</a></li>
            <li><a routerLink="#">Careers</a></li>
            <li><a routerLink="#">Partners</a></li>
           </ul>
    </aside>
    <section>
        <router-outlet></router-outlet>
    </section>
</main>

<footer></footer>